body {
    background: rgb(21,44,153);
    background: radial-gradient(circle, rgba(21,44,153,1) 0%, rgba(0,0,0,1) 100%);
}

#landing_page {
    height: 100vh;
    width: 100%;
    background: url(element/landing_page.jpeg) center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

#welcome_message {
    background-color: rgba(0, 0, 0, 0.43);
    display: flexbox;
    height: fit-content;
    width: fit-content;
    font-family: "Satisfy", serif;
    color: #fff;
    text-shadow: 8px 6px 4px rgba(0, 0, 0, 0.43);
    line-height: 2.2cm;
    text-align: center;
    padding: 5%;
    position: absolute;
}
#welcome_message h1 {
    font-size: 60px;
}
#welcome_message h2 {
    font-size: 48px;
}