@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Sarabun:ital@0;1&display=swap');

:root {
    --color-body: #FAF9F6;
    --color-heading: #FFDD65;
    --color-base: #1F5CAD;
    --color-base2: #100950;
    --color-brand: #EA6901;
    --color-brand2: #720000;
    --font-base: "Roboto Mono";
    --font-base2: "Sarabun";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), monospace;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
    font-weight: 600;
}
a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}
a:hover {
    color: var(--color-brand);
}
img {
    width: 100%;
}
.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255 0.1);
}

/*NavBar*/
.navbar {
    padding-left: 20px;
    padding-top: 16px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.2794759825327511) 35%, rgba(0,0,0,0.5953420669577875) 100%);
    border-bottom: rgba(255, 255, 255, 0.822) solid 1px;
}
.navbar .nav-link.active {
    color: var(--color-body);
}

@media(max-width: 991px) {
    .sidebar {
        background: rgb(0,0,0);
    }
}

/*Home*/
#get-to-info-btn{
    color: rgb(165, 159, 143);
}
.text-brand-1 {
    color: rgb(3, 226, 96)
}
.text-brand-2 {
    color: #cf5e01;
}
.btn {
    padding: 12px 28px;
    font-weight: 700;
}
.btn-brand {
    background-color: var(--color-brand2);
    border-color: var(--color-brand2);
    color: rgb(197, 197, 197)
}
.btn-brand:hover, .btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-body);
    border-color: var(--color-base2);
}

/** Animation **/
#typewriter {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }